*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.portfolio{
    background: rgb(26, 132, 194);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.left{
    padding: 0 10px;
    font-size: 20px;
}
nav {
    display: flex;
}
nav ul li{
    display: inline-block;
    right: -15px;
    margin: 5px;
    padding: 0 20px;
    font-size: 22px;
    margin-top: 10px;
    font-weight: 200;
}
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    background: #c8461f;
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* -------------------contact-------------- */
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(23, 21, 21, 0.6), rgba(19, 20, 20, 0.6)), url(abd.jpg);
    background-size: cover; 
}
.header{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 50px;
    text-decoration: underline;
}
.header h1 span{
    color: rgb(92, 194, 121);
}
.info{
    color: #fff;
    margin-top: 120px;
    margin-left: 100px;
}
#fa{
    color: #c8461f;
}
.in{
    font-size: 20px;
    padding: 20px;
}
.whole{
    display: flex;
    justify-content: space-between;
}
.form{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 120px;
}
.box{
    margin: 3px;
    padding: 20px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.695);
    color: #fff;
}
button{
     width: 20%;
     height: 30px;
     margin: auto;
     background-color: #c8461f;
     margin-top: 10px;
     border: 2px solid rgb(12, 12, 12);
     border-radius: 4px;
     transition: transform 0.5s;
}
button:hover{
    transform: scale(1.1);
}
a#active,a:hover{
    border: 1px solid aliceblue;
    transition: .7s;
}